* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
	max-width: 100vw;
}
section {
	padding: 100px;
}
.banner {
	position: relative;
	min-height: 100vh;
	background: url(../img/banner4.jpg);
	background-size: cover;
	background-position: right;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.banner h2 {
	font-size: 3em;
	color: #fff;
	font-weight: 500;
	line-height: 1.5em;
}
.banner h2 span {
	font-size: 1.5em;
	font-weight: 700;

}

.banner h3 {
	font-size: 1.5em;
	color: #fff;
	font-weight: 500;
}

.btn {
	position: relative;
	background: #2196f3;
	display: inline-block;
	color: #fff;
	margin-top: 20px;
	padding: 10px 30px;
	font-size: 18px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	font-weight: 500;

}
header {
	position: fixed;
	top: 0;
 	left: 0;
	width: 100%;
	padding: 40px 100px;
	padding-top: 24px;
	padding-bottom: 0px;
	padding-left: 100px;
	padding-right: 100px;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.5s;
} 

header.sticky {
	background: #fff;  
	padding: 20px 100px;
	box-shadow: 0 5px 20px rgba(0,0,0,0.1);
	color: #111;
}
header.sticky .logo {
	color: #111; 
}


header.sticky ul li a {
	color: #111;
}

header .logo {
	color: #fff;
	font-size: 24px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 700;
	letter-spacing: 2px;
}

header ul {
	position: relative;
	display: flex;
}
header ul li {
	position: relative;
	list-style: none;	
}
header ul li a {
	position: relative;
	display: inline-block;
	margin: 0 15px;
	color: #fff;
	text-decoration: none;
}
.heading {
	width: 100%;
	text-align: center;
	margin-bottom: 30px;
	color: #111;
}
.heading h2 {
	font-weight: 600;
	font-size: 30px;
}
.content {
	display: flex;
	justify-content: space-between;
}
.contentBx {
	padding-right: 50px;
}
.contentBx h3 {
	font-size: 24px;
	margin-bottom: 10px;
}
.contentBx h5 {
	font-size: 20px;
	margin-bottom: 10px;
}
.w50 {

	min-width: 50%;
	width: 50%;
	padding: 20px;
}
.w40 {
	min-width: 400px;
	width: 45%;
	padding: 20px 20px 0px 20px;
}
.w40 img {
	filter: drop-shadow(15px 10px 20px #444);

}
	/*animation */
/*	animation: graphic 1s infinite;
	animation-direction: alternate;
	
	#graphic { animation-timing-function: ease-in-out; }

@keyframes graphic {
	from { top: 0px; }
	to { top: 50px; }

}
*/
.w50 img {
	filter: brightness(.75) grayscale(100);
	transition: 1s ease;
}
section.about:hover .w50 img {
	filter: brightness(1) grayscale(0);
} 
img {
	max-width: 100%;
}

.Skills {
	background: #f0f0f0;
	background-blend-mode: color-dodge;
}
.contact, .project {
	background: #111;
}
.projectsList {
	list-style: none;
}
.projectPage {
	max-width: 900px;
	margin: auto;
}
.project .content,
.blogs .content {
	display: flex;
	flex-direction: column;
}
.projectItem {
	padding: 30px;
}
.projectItem .btn {
	font-size: 14px;
	max-width: 170px;
	padding: 10px 15px;
}
.projectItem h1 {
	font-size: x-large;
}
.projectItem .btnBorder {
	background: none;
	color: #03a9f4;
	border-radius: 1px;
	border: 1px solid #03a9f4;
}
.projectText {
	font-size: 20px;
}
.project .btn {
	font-size: 16px;
	padding-right: 15px;
	max-width: 190px;
} 
.heading h2 {
	font-size: 44px;
	color: #999;
}
.blogs .btn {
	font-size: 16px;
	padding-right: 15px;
	max-width: 160px;
} 
.about {
	background: rgba(234,234,234,0.3);
}
.white {
	color: white;
}
.text {
	color: #fffafa;
}
.h3 {
	color: #F5F5F5;
}

section.gallery {
	background: rgba(215,224,234,0.2);
	background-size: cover;
	margin: 0px;
}
/*Gallery*/

section.gallery {
	padding: 20px;
	width: 100%;
}

section.gallery ul {
	display: flex;
	margin-bottom: 10px 10px 20px 10px;
	flex-wrap: wrap;
}

section.gallery ul li {
	list-style: none;
	background: #eee;
	padding: 8px 20px;
	margin: 10px;
	letter-spacing: 1px;
	cursor: pointer;
}

section.gallery ul li.active {
	background: #03a9f4;
	color: #fff;
}

.product {
	display: flex;
	flex-wrap: wrap;
	position: all;
}
.product .itembox {
	position: relative;
	width: 400px;
	height: 300px;
	margin: 5px;
	border: 2px;
	border-color: #111;
}

.product .itembox img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/*Skills*/


.Skill-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 80%;
    padding: 0;
    margin: 0 auto;
    position: relative;
}

@media (max-width: 600px) {
    .Skill-list {
        max-width: 80%;
    }
}
.Skill-list__item {
    margin: 0 2.5rem 6rem 2.5rem;
    padding: 1.5rem;
    box-shadow: -1rem 1rem 2rem rgba(0, 0, 0, .05), 1rem 1rem 2rem rgba(0, 0, 0, .07);
    border-radius: 50%;
    transition: .3s ease-in-out;
}

.Skill-list__item:hover {
    transform: translateY(-1.1rem) scale(1.05);
    box-shadow: 1rem 1rem 4rem rgba(0, 0, 0, .2);
}

.Skill-icon {
    font-size: 4rem;
}


section.Skills .heading {
	margin-bottom: 50px;
}


.formBx {
	min-width: 60%;
}
.formBx form {
	display: flex;
	flex-direction: column;
}

.formBx form h3,
.contactinfo h3 {
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 10px;
}

.formBx form input,
.formBx form textarea {
	margin-bottom: 20px;
	padding: 15px;
	font-size: 16px;
	background: #222;
	outline: none;
	border: none;
	color: #fff;
}

.formBx form textarea {
	min-height: 100px;
}
.formBx form input::placeholder,
.formBx form textarea::placeholder {
	color: #999;
}

.formBx form input[type="submit"] {
	max-width: 100px;
	background: #2196f3;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.contactinfo {
	min-width: 40%;
}
.contactinfoBx {
	position: relative;
}
.contactinfoBx .box {
	position: relative;
	padding: 20px 0;
	display: flex;
}
.contactinfo .box .icon {
	min-width: 40px;
	padding-top: 30px;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	font-size: 24px;
	vertical-align: middle;
}

.contactinfo .box .text {
	display: flex;
	margin-left: 20px;
	font-size: 16px;
	color: #fff;
	flex-direction: column;
	font-weight: 300;
}

.contactinfo .box .text h3 {
	font-weight: 500;
	color: #2196f3;
	margin-bottom: 0px;
}


section.contact {
	padding-bottom: 50px;
}

section.contact .heading {
	margin-bottom: 40px;
}

.copyright {
	background: #000;
	color: #444;
	text-align: center;
	padding: 10px;
}
.copyright p {
	font-size: 0.9em;
}
.copyright a {
	color: #444;
	text-decoration: none;
}
.copyright a:hover {
	color: #fffeee;
}

.w40 img {
  position: relative;
  animation: mymove 5s infinite;
  animation-direction: alternate;
}

#graphic {animation-timing-function: ease-in-out;}

@keyframes mymove {
  from {top: 0px;}
  to {top: 25px;}
}

/*Responsive*/

@media (max-width: 991px) {
	
	header, header.sticky {
		padding: 10px 50px;
		z-index: 1000;
	}

	.menu {
		position: fixed;
		top: 55px;
		left: -100%;
		display: block;
		padding: 100px 50px;
		text-align: center;
		width: 100%;
		height: 100vh;
		background: #fff;
		transition: 0.5s;
		z-index: 999;
		border-top: 1px solid rgba(0,0,0,0.2);
	}
	.menu.active {
		left: 0;
	}
	header ul li a {
		color: #111;
	}

	.toggle {
		width: 40px;
		height: 40px;
		background: url(../img/menu.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: 30px;
		cursor: pointer;
	}

	.toggle.active {
		background: url(../img/close.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: 25px;
		cursor: pointer;
	}

	header.sticky .toggle {
		filter: invert(1);
	}
	section {
		padding: 100px 50px 50px 50px;
	}	
	.banner {
		padding: 150px 50px 100px;
		flex-direction: column-reverse;
	}
	.banner h2 {
		font-size: 1.5em;

	}
	.banner h3 {
		font-size: 1em;
	}
	.btn {
		margin-top: 10px;
		padding: 10px 20px;
		font-size: 16px;
	}
	.heading h2 {
		font-size: 24px;
	}
	.contentBx h3 {
		font-size: 19px;
	}
	.contentBx p {
		font-size: 16px;
	}
	.content {
		flex-direction: column;
	}
	.w50 {
		margin-top: 20px;
		min-width: 50%;
		width: 60%;
	}
	.contactinfo {
		min-width: 40%;
		margin: 20px 0;
	}
	.w40 {
		margin-bottom: 30px;
/*		min-width: 300px;*/
	}
}


/* Make websitr responsive and reset the banner image */

@media(max-width: 600px) {

	header, header.sticky {
		padding: 10px 50px;
		z-index: 1000;
	} 
	.banner {
		padding: 150px 20px 100px;
	}

	section {
		padding: 100px 20px;
	}
	.w40 {
		margin-bottom: 0px;
	}
}

@media (min-width: 1100px)
{
	.w50 {
		min-width: 45%;
		padding: 10px;
	}
}



@media (max-width: 860px) {
	.product .itembox {
		width: 300px;
		height: 225px;
	}
}

@media (max-width: 612px) {
	
	section.gallery ul li {
	    padding: 6px 12px;
	    margin: 4px;
	    font-size: .85rem;
	}

	.w50 {
		margin-top: 20px;
		min-width: 70%;
		width: 100%;
	}
	.w40 {
		min-width: 330px;
	}
}

@media(max-width: 550px) {
	.Skills {
	    padding: 100px 10px;
	}
	.Skill-list__item {
	    margin: 0px 1.5rem 4rem 1.5rem;
	    padding: 1.3rem;
	}
	.Skill-icon {
    	font-size: 2.5rem;
	}
	.Skill-list {
    	max-width: 100%;
	}

}


@media(max-width: 350px) {
	.w40 {
		min-width: 300px;
	}
}














